SECRET_KEY=<random-secret-key-or-leave-empty-for-auto-generate>
SECRET_WORD=<qr-validation-secret-word>
ADMIN_USERNAME=<superadmin-username>
ADMIN_PASSWORD=<superadmin-password>
DATABASE_URL=sqlite:///sick.db
